[submodule "news-manager"]
	path = news-manager
	url = https://github.com/DeejayRevok/news-manager.git
    branch = develop
[submodule "nlp-service"]
	path = nlp-service
	url = https://github.com/DeejayRevok/nlp-service.git
    branch = develop
[submodule "search-engine"]
	path = search-engine
	url = https://github.com/DeejayRevok/search-engine
	branch = develop
[submodule "news-service-ui"]
	path = news-service-ui
	url = https://github.com/DeejayRevok/news-service-ui.git
    branch = develop
[submodule "news-discovery-app"]
	path = news-discovery-app
	url = https://github.com/DeejayRevok/news-discovery-app.git
	branch = develop
